#pollQuestions.wrap
	h3 The easiest way to get feedback
	h4 in real time and make up your mind about anything!

#poll.wrap
	#newPoll
	
		h5 Create a new poll

		form(action="/polls/create", method="POST", id="create_poll")
		
			fieldset
			
				p
					label(for="title") Title
					input(type="text", name="title", id="title")
				
				p
					label(for="subtitle") Description 
						em (Optional)
					input(type="text", name="subtitle", id="subtitle")
			
			.poll_options
			
				p
					label(for="options[]") Option 1
					input(type="text", name="options[]")
				p
					label(for="options[]") Option 2
					input(type="text", name="options[]")
			
				p
					a.add-option(href="#") + Add another option
			
				p
					button.cta(type="submit")
						strong Create my Poll!
					
	#pollGraph
	
		h5 Hot Poll Right Now
		p El Poll
		p
			a(href="/") Participate in this poll


script(type="text/javascript")
	$(function(){
		$('.add-option').click(function(e){
			e.preventDefault();
			var opt_length = $('.poll_options input[type=text]').length + 1;
			var option = $('.poll_options input[type=text]:last').parent().clone();
			option.children('input').attr('value','').siblings('label').text('Option ' + opt_length);
			$(this).parent().before(option);
		});
	});
