#pollQuestions.wrap
	h3 The easiest way to get feedback
	h4 in real time and make up your mind about anything!


#poll.wrap
	#newPoll
	
		h5 Create a new poll

		form(action="/polls/create", method="POST", id="create_poll")
		
			fieldset
			
				p
					label(for="title") Title
					input(type="text", name="title", id="title")
				
				p
					label(for="subtitle") Description 
						em (Optional)
					input(type="text", name="subtitle", id="subtitle")
			
			.poll_options
			
				p
					label(for="options[]") Option 1
					input(type="text", name="options[]")
				p
					label(for="options[]") Option 2
					input(type="text", name="options[]")
			
				p
					a.add-option(href="#") + Add another option
			
				p
					button.cta(type="submit")
						strong Create my Poll!

	-if(hot_poll) {					

			#pollGraph
				h5 Hot Poll Right Now: 
					a(href="/polls/"+hot_poll._id) #{hot_poll.title}
				#chart

			script(type="text/javascript")
				var poll = $.parseJSON('!{json_poll}');
				var poll_domain = '!{poll_domain}';
			script(type="text/javascript", src="/socket.io/socket.io.js")
			script(type="text/javascript", src="/js/highcharts.js")
			script(type="text/javascript", src="/js/poll.js")
	- }

	#features
		ul
			li.feature#feature1
				h6 As easy as 1, 2, 3
				p Create your poll in just a couple of seconds. No registration, no complications, just ask stuff!
				
			li.feature#feature2
				h6 Real Time
				p See what people vote in real time. Graphic representation updates instantly. It's like magic!
				
			li.feature#feature3
				h6 Mobile
				p Visit Instapoll from your iPhone/Android and create a poll right away. No installation or download required!
	
	

script(type="text/javascript")
	$(function(){
		$('.add-option').click(function(e){
			e.preventDefault();
			var opt_length = $('.poll_options input[type=text]').length + 1;
			var option = $('.poll_options input[type=text]:last').parent().clone();
			option.children('input').attr('value','').siblings('label').text('Option ' + opt_length);
			$(this).parent().before(option);
		});
	});

