h1= title
p Welcome to #{title}

form(action="/polls/create", method="POST")
	p
		label(for="title") Title
		input(type="text", name="title", id="title")

	p
		label(for="options[]") Option
		input(type="text", name="options[]")
	p
		label(for="options[]") Option
		input(type="text", name="options[]")
	p
		label(for="options[]") Option
		input(type="text", name="options[]")

	p
		input(type="submit", value="submit")
