#pollQuestions.wrap
	h3 The easiest way to get feedback
	h4 in real time and make up your mind about anything!

#poll.wrap
	#newPoll

		form(action="/polls/create", method="POST", id="create_poll")
			p
				label(for="title") Title
				input(type="text", name="title", id="title")
		
			p
				label(for="options[]") Option
				input(type="text", name="options[]")
			p
				label(for="options[]") Option
				input(type="text", name="options[]")
		
			p
				button() Add another option
		
			p
				button.cta(type="submit")
					strong Create my Poll!
	#pollGraph


script()
	$(function(){
		$('#create_poll button').click(function(e){
			e.preventDefault();
			var option = $('#create_poll input[type=text]:last').parent().clone();
			option.val('');
			$(this).parent().before(option);
		});
	});
