!!!
html
	head
		title= title
		link(rel='stylesheet', href='/styles/style.css')

		script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
	body!= body
