#pollQuestions.wrap
	h3= poll.title
	h4= poll.subtitle
	p
		a.twitter-share-button(href="https://twitter.com/share") Tweet

#poll.wrap
	#pollOptions
		ul
			each opt,key in poll.opts
				li
					span.refColor
						span
					input(type="radio", name="votePoll", id="votePoll" + key)
					label(for="votePoll" + key)= opt.title

		p
			a.cta#vote-submit
				strong Vote Now!

	#pollGraph
	
	-if(!auth){
		#socialLogin
			p
				em You need to be logged-in in order to vote
				span#twitter-login
					a.cta(href='/login/twitter') 
						strong Login with Twitter
				span#facebook-login
					a.cta(href='/login/facebook') 
						strong Login with Facebook
	-}

#pollSnippet.wrap
	h5 Paste this code on your website to show the poll:
	pre codigo html aca

#disqus_thread.wrap
script()
	var disqus_shortname = 'instapoll';
	var disqus_developer = 1;
	(function() {
	var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
	(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
	
script(type="text/javascript", src="/socket.io/socket.io.js")
script(type="text/javascript", src="/js/highcharts.js")
script()
	var poll = !{json_poll};
script(type="text/javascript", src="/js/poll.js")
