#poll.wrap(class=(auth) ? "loggedIn" : "notLoggedIn")
	#twitter-login(style="float: right;")
		a(href='/login/twitter', style='border: 0px')
			img(style='border: 0px', src='https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png')

	#pollQuestions
		h3= poll.title
		h4
	
	#pollOptions
		ul
			each opt,key in poll.opts
				li
					span.refColor
						span
					input(type="radio", name="votePoll", id="votePoll" + key)
					label(for="votePoll" + key)= opt.title

		p
			button.cta(type="submit")
				strong Vote

	#pollGraph

#pollSnippet.wrap
	h5 Paste this code on your website to show the poll:
	pre codigo html aca

#disqus_thread
script()
	var disqus_shortname = 'instapoll';
	var disqus_developer = 1;
	(function() {
	var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
	(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();

h1 #{poll.title}

script(type="text/javascript", src="/socket.io/socket.io.js")
script(type="text/javascript", src="/js/highcharts.js")
script()
	var poll = !{json_poll};
script(type="text/javascript", src="/js/poll.js")
